header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #FFCF58;
  box-shadow: 0px -10px 20px rgba(0, 0, 0, 1);
}

.admin-navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-button {
  background: #F24900;
  color: #fff;
  border: none;
  padding: 7px 12px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 5px;
}

.delete-button:hover {
  background-color: darkred;
}

.edit-button {
  background: #F29400;
  color: #fff;
  border: none;
  padding: 7px 12px;
  cursor: pointer;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.edit-button:hover {
  background-color: #D18206;
}


.admin-logo-container {
  display: flex;
  align-items: center;
  padding: 2px 120px;
}

.logo-img {
  width: 55px;
  height: auto;
}

.admin-logo-title {
  font-family: "Roca Heavy";
  font-size: 25px;
  color: #596418;
  margin-left: 15px;
}

.header-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-right span {
  margin-right: 120px;
  color: #596418;
  font-weight: bold;
  font-size: large;
}

.admin-signoutBTN {
  font-family: "Lato Regular";
  color: white;
  font-size: 15px;
  padding: 8px;
  border: 0 none;
  border-radius: 5px;
  background-color: #596418;
  margin-right: 100px;
}
.admin-signoutBTN:hover {
  font-family: "Lato Regular";
  color: #596418;
  font-size: 15px;
  padding: 8px;
  border: 0 none;
  border-radius: 5px;
  border-color: #596418;
  background-color: white;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.admin-dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 40px); 
  background-color: #C8C467;
  padding-top: 40px; 
}

.category-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 40px;
}

.category-card {
  background-color: white;
  width: 260px;
  padding: 30px; /* Adjusted padding */
  padding-top: 90px;
  padding-bottom: 90px;
  border: 1px solid #ccc;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.category-card:hover {
  background-color: #e6e6e6;
  transform: translateY(-10px);
}

.category-image {
  width: 60%;
  height: 60%;
  object-fit: cover;
  margin-bottom: 10px;
}

/* PRODUCT LISTINGS */

.product-listings-main {
  background-color: #C8C467;
  padding-top: 80px;
  margin: 0; /* Center the container horizontally */
  display: flex; /* Use flexbox for layout */
  flex-direction: row; /* Arrange items horizontally */
  justify-content: space-between; /* Space evenly between items */
}

/* Styling for sorting options */
.sorting-options {
  margin-bottom: 20px;
}

.sorting-options label {
  margin-right: 10px;
}

.sorting-options button {
  background: #F29400;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
}

.sorting-options button:hover {
  background-color: #D18206;
}

/* Styling for tables */
.products-table {
  width: 100%;
  border-collapse: collapse;
  background-color: whitesmoke;
  margin-bottom: 20px;
}

.products-table th, td {
  padding: 10px; /* Padding for table cells */
  border: 1px solid #ddd; /* Border for table cells */
  text-align: left;
}

.products-table th {
  background-color: #f2f2f2; /* Background color for table header */
}

/* Styling for forms */

form {
    width: 80%;
  }
  
  .form-group {
    padding: 5px;
    justify-content: center;
  }
  
  input {
  
    padding: 7px;
    width: 90%;
  }
.product-form {
  padding-left: 25px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 15px;
}

.input-group select {
  margin-top: 0;
  width: 96%;
  padding: 6px;
}

.submit-product {
  color: white;
  width: 96%;
  padding: 6px;
  background-color: #F29400;
  border-width: 1px;
}

.submit-product:hover {
  background-color: #D18206;
  transition: background-color 0.3s ease-in-out;
}

.sorting-options select {
  padding: 8px 12px;
}

/* Styling for product listings left container */
.product-listings-left {
  flex: 1; /* Take up remaining space */
  margin-left: 50px;
  padding-right: 20px;
  padding-left: 20px; /* Add some space between the table and form */
}


/* Styling for product listings right container */
.product-listings-right {
  margin-top: 136px;
  margin-right: 50px;
  padding-left: 20px;
  margin-bottom: 0;
  background-color: whitesmoke;
  padding-bottom: 0;
  height: 65vh;
}

.product-listings-right h2 {
  padding-left: 25px;
  margin-top: 20px;
}

/* Styling for product cards */
.product-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 400px;
}

.product-card h2 {
  margin-top: 0;
}

.product-card p {
  margin: 5px 0;
}

/* Styling for food card images */
.food-card img {
  width: 100%;
  height: auto;
}

/* USERS CSS */

.main-user-container {
  padding-top: 80px;
  background-color: #C8C467;
  height: 100vh;
  overflow: hidden; /* Prevent scrolling on the entire page */
}

.user-container {
  padding: 20px 120px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 600px;
  text-align: left;
  height: 740px;
  overflow: hidden; /* Prevent scrolling on the container */
}

.user-container h1 {
  color: #596418;
  margin-bottom: 20px;
}

.user-container p {
  font-size: 18px;
  color: #555;
}

.user-container ul {
  list-style: none;
  padding: 0;
  height: 630px;
  overflow-y: auto; /* Enable vertical scrolling */
}

.user-container li {
  background-color: #fff;
  padding-left: 30px;
  padding-right: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  text-align: left;
  display: flex;
  align-items: center;
  border-radius: 50px;
}

.user-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-fullname {
  margin: 5px 0;
  font-size: 28px;
  font-weight: bold;
  color: #596418;
}

.user-email {
  margin: 5px 0;
  font-size: large;
}

.username {
  font-size: large;
}

.admin-link:link, .admin-link:visited, .admin-link:hover, .admin-link:active {
  color: #596418;
}

/* -----------Fulfillment CSS--------------------- */


.fulfillment-main {
  display: flex;
  background-color: #C8C468;
  width: 100%;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.fulfillment-order-list {
  display: flex;
  flex-direction: column;
  width: 50%;
  transition: width 0.3s ease;
  padding: 30px;
}

.fulfillment-order-list.full-width {
  width: 100%;
}

.fulfillment-product-list {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  width: 50%;
}

.fulfillment-order-title, 
.fulfillment-product-title, 
.fulfillment-order-table td, 
.fulfillment-order-table th, 
.fulfillment-product-table td, 
.fulfillment-product-table th, 
.fulfillment-product-total-items p, 
.fulfillment-product-total-cost p, 
button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.fulfillment-product-total-items p, 
.fulfillment-product-total-cost p,
.fulfillment-order-table th,
.fulfillment-product-table th {
  font-size: large;
  font-weight: bold;
  color: #ffffff;
}

.fulfillment-order-title, .fulfillment-product-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 20px;
  color: #ffffff;
}

.fulfillment-order-table, .fulfillment-product-table {
  background-color: #ffffff;
  border-style: solid;
  border-width: 0px;
  padding-bottom: 10px;
  border-spacing: 0px;
  border-radius: 30px;
  overflow: hidden;
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.fulfillment-order-table thead,
.fulfillment-order-table tbody,
.fulfillment-product-table thead,
.fulfillment-product-table tbody  {
  display: table;
}

.fulfillment-order-table thead,
.fulfillment-product-table thead {
  background-color: #596418;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%; /* Ensure the thead takes full width */
}

.fulfillment-order-table tbody {
  display: block;
  max-height: 600px; /* Set a max height to allow for responsiveness */
  overflow-y: auto; /* Make tbody scrollable */
}

/* Example media queries */
@media (max-height: 600px) {
  .fulfillment-order-table tbody {
    max-height: 400px;
  }
}

@media (max-height: 500px) {
  .fulfillment-order-table tbody {
    max-height: 300px;
  }
}

@media (max-height: 400px) {
  .fulfillment-order-table tbody {
    max-height: 200px;
  }
}

.approve-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.approve-button-img {
  width: 30px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
}

.fulfillment-order-table td, .fulfillment-order-table th, .fulfillment-product-table td, .fulfillment-product-table th {
  text-align: center;
  padding: 10px 15px;
  box-sizing: border-box;
  width: 1%; /* Ensure each cell is distributed evenly */
}

.fulfillment-product-totals {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fulfillment-product-total-items, .fulfillment-product-total-cost {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 45%;
  border-style: solid;
  border-width: 0px;
  border-radius: 30px;
  background-color: #596418;
}

.fulfillment-product-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fulfillment-product-buttons button {
  display: flex;
  align-self: center;
  margin-bottom: 15px;
  width: 30%;
  border-style: solid;
  border-width: 0px;
  border-radius: 30px;
  background-color: #ffffff;
  text-align: center;
  font-size: large;
  font-weight: bold;
  transition-duration: 0.4s;
  border: 2px solid;
}

.confirm-approval {
  color: #596418;
  border-color: #596418;
}

.cancel-approval {
  color: red;
  border-color: red;
}

.confirm-approval:hover {
  background-color: #596418;
  color: white;
}

.cancel-approval:hover {
  background-color: red;
  color: white;
}

/* ---------SALES CSS------------------ */

.sales-main {
  display: flex;
  background-color: #C8C468;
  width: 100%;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.sales-order-list {
  display: flex;
  flex-direction: column;
  width: 50%;
  transition: width 0.3s ease;
  padding: 30px;
}

.sales-order-list.full-width {
  width: 100%;
}

.sales-product-list {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  width: 50%;
}

.sales-order-title, 
.sales-product-title, 
.sales-order-table td, 
.sales-order-table th, 
.sales-product-table td, 
.sales-product-table th, 
.sales-product-total-items p, 
.sales-product-total-cost p, 
button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.sales-product-total-items p, 
.sales-product-total-cost p,
.sales-order-table th,
.sales-product-table th {
  font-size: large;
  font-weight: bold;
  color: #ffffff;
}

.sales-order-title, .sales-product-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 20px;
  color: #ffffff;
}

.sales-order-table, .sales-product-table {
  background-color: #ffffff;
  border-style: solid;
  border-width: 0px;
  padding-bottom: 10px;
  border-spacing: 0px;
  border-radius: 30px;
  overflow: hidden;
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.sales-order-table thead,
.sales-order-table tbody,
.sales-product-table thead,
.sales-product-table tbody  {
  display: table;
}

.sales-order-table thead,
.sales-product-table thead {
  background-color: #596418;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%; /* Ensure the thead takes full width */
}

.sales-order-table tbody {
  display: block;
  max-height: 600px; /* Set a max height to allow for responsiveness */
  overflow-y: auto; /* Make tbody scrollable */
}

/* Example media queries */
@media (max-height: 600px) {
  .sales-order-table tbody {
    max-height: 400px;
  }
}

@media (max-height: 500px) {
  .sales-order-table tbody {
    max-height: 300px;
  }
}

@media (max-height: 400px) {
  .sales-order-table tbody {
    max-height: 200px;
  }
}

.view-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.view-button-img {
  width: 30px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
}

.sales-order-table td, .sales-order-table th, .sales-product-table td, .fulfillment-product-table th {
  text-align: center;
  padding: 10px 15px;
  box-sizing: border-box;
  width: 1%; /* Ensure each cell is distributed evenly */
}

.sales-product-totals {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sales-product-total-items, .sales-product-total-cost {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 45%;
  border-style: solid;
  border-width: 0px;
  border-radius: 30px;
  background-color: #596418;
}

.sales-product-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sales-product-buttons button {
  display: flex;
  align-self: center;
  margin-bottom: 15px;
  width: 30%;
  border-style: solid;
  border-width: 0px;
  border-radius: 30px;
  background-color: #ffffff;
  text-align: center;
  font-size: large;
  font-weight: bold;
  transition-duration: 0.4s;
  border: 2px solid;
}

.remove-view {
  color: #596418;
  border-color: #596418;
}

.remove-view:hover {
  background-color: #596418;
  color: white;
}
