@font-face{
  font-family: "Roca Heavy";
  src: url("../fonts/Roca-Heavy.ttf");
}

@font-face{
  font-family: "Roca Black";
  src: url("../fonts/Roca-Black.ttf");
}

@font-face{
  font-family: "Roca Bold";
  src: url("../fonts/Roca-Bold.ttf");
}

@font-face{
  font-family: "Roca Regular";
  src: url("../fonts/Roca-Regular.ttf");
}

@font-face{
  font-family: "Roca Light";
  src: url("../fonts/Roca-Light.ttf");
}

@font-face{
  font-family: "Lato Bold";
  src: url("../fonts/Lato-Bold.ttf");
}

@font-face{
  font-family: "Lato Regular";
  src: url("../fonts/Lato-Regular.ttf");
}

body{
  margin: 0;
  background-color: #FEF1CF;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #FEF1CF;
  box-shadow: 0px -10px 20px rgba(0, 0, 0, 1);
}

.welcome-admin{
  font-family: "Roca Bold";
}

.admin-navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 120px 5px 120px;
  align-items: center;
}

.delete-button {
  background: #F24900;
  color: #fff;
  border: none;
  padding: 7px 12px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 5px;
}

.delete-button:hover {
  background-color: darkred;
}

.edit-button {
  background: #F29400;
  color: #fff;
  border: none;
  padding: 7px 12px;
  cursor: pointer;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.edit-button:hover {
  background-color: #D18206;
}


.admin-logo-container {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 55px;
  height: auto;
}

.admin-logo-title {
  font-family: "Roca Heavy";
  font-size: 25px;
  color: #596418;
  margin-left: 15px;
}

.header-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-right span {
  margin-right: 120px;
  color: #596418;
  font-weight: bold;
  font-size: large;
}

.admin-signoutBTN {
  font-family: "Lato Regular";
  color: white;
  font-size: 15px;
  padding: 8px;
  border: 0 none;
  border-radius: 5px;
  background-color: #596418;
  margin-right: 100px;
}
.admin-signoutBTN:hover {
  font-family: "Lato Regular";
  color: #596418;
  font-size: 15px;
  padding: 8px;
  border: 0 none;
  border-radius: 5px;
  border-color: #596418;
  background-color: white;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

/* ADMIN DASHBOARD */

.admin-dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 40px); 
  background-color: #C8C467;
  padding-top: 40px; 
}

.category-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 40px;
}

.category-card {
  background-color: white;
  width: 260px;
  padding: 30px; /* Adjusted padding */
  padding-top: 90px;
  padding-bottom: 90px;
  border: 1px solid #ccc;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.admin-link {
  font-family: "Roca Bold";
}

.category-card:hover {
  background-color: #e6e6e6;
  transform: translateY(-10px);
}

.category-image {
  width: 70%;
  height: 60%;
  object-fit: cover;
  margin-bottom: 10px;
}

/* PRODUCT LISTINGS */

.product-listings-main {
  background-color: #C8C467;
  padding-top: 110px;
  margin: 0; /* Center the container horizontally */
  display: flex; /* Use flexbox for layout */
  flex-direction: row; /* Arrange items horizontally */
  justify-content: space-between; /* Space evenly between items */
}

.sort-product-listings{
  font-family: "Lato Bold";
}

/* Styling for sorting options */
.sorting-options {
  margin-bottom: 20px;
}

.sorting-options label {
  margin-right: 10px;
}

.sorting-options button {
  background: #F29400;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
}

.sorting-options button:hover {
  background-color: #D18206;
}

/* Styling for tables */
.products-table {
  width: 100%;
  margin-bottom: 50px;
}

.products-table th, td {
  padding: 10px; /* Padding for table cells */
  text-align: left;
}

.products-table td {
  padding: 10px; /* Padding for table cells */
  /* border: 1px solid #ddd; Border for table cells */
  text-align: left;
}

.products-table th {
  background-color: #ebebeb; /* Background color for table header */
  font-family: "Roca Bold";
}

.products-table td {
  background-color: whitesmoke; 
  font-family: "Lato Regular";
  font-size: 15px;
}

.products-table th:first-of-type{
  border-top-left-radius: 15px;
}

.products-table th:last-of-type{
  border-top-right-radius: 15px;
}

.products-table tr:last-of-type td:first-of-type{
  border-bottom-left-radius: 15px;
}

.products-table tr:last-of-type td:last-of-type{
  border-bottom-right-radius: 15px;
}

/* Styling for forms */

form {
  width: 80%;
}
  
.form-group {
  padding: 5px;
  justify-content: center;
}

input {
  padding: 7px;
  width: 90%;
}

.product-form {
  font-family: "Lato Regular";
  padding-left: 25px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 15px;
  font-family: "Lato Regular";
}

.input-group select {
  margin-top: 0;
  width: 96%;
  padding: 6px;
}

.submit-product {
  color: white;
  width: 96%;
  padding: 6px;
  background-color: #F29400;
  border-width: 1px;
}

.submit-product:hover {
  background-color: #D18206;
  transition: background-color 0.3s ease-in-out;
}

.sorting-options select {
  padding: 8px 12px;
}

.product-listings-left {
  flex: 1; /* Take up remaining space */
  margin-left: 50px;
  padding-right: 20px;
  padding-left: 20px;
}

.product-listings-left h1 {
  font-family: "Roca Bold";
}

/* Styling for product listings right container */
.product-listings-right {
  margin-top: 146px;
  margin-right: 70px;
  padding-left: 20px;
  margin-bottom: 0;
  background-color: whitesmoke;
  padding-bottom: 50px;
  height: 100%;
  border-radius: 15px;
}

.product-listings-right h2 {
  font-family: "Roca Bold";
  padding-left: 25px;
  margin-top: 20px;
}

/* Styling for product cards */
.product-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 400px;
}

.product-card h2 {
  margin-top: 0;
}

.product-card p {
  margin: 5px 0;
}

/* Styling for food card images */
.food-card img {
  width: 100%;
  height: auto;
}

/* USERS CSS */


.main-user-container {
  background: linear-gradient(135deg, #C8C467 0%, #D4D97D 100%);  /*Added gradient background */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.user-container {
  padding: 20px 40px;  /*Enhanced padding for better spacing */
  background: #ffffff;  
  border-radius: 15px;  /*Increased border-radius for smoother corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /*Increased shadow for depth */
  margin: 130px 20px 50px 20px;
  max-width: 600px;
  width: 100%;  /*Make container responsive */
  text-align: left;
  height: auto;
  max-height: 70vh;
  overflow-y: scroll;
}

.user-container h1 {
  color: black;
  margin-bottom: 20px;
  font-family: "Roca Bold";
}

.user-container p {
  font-size: 18px;
  color: #555;
  font-family: "Lato Regular";
}

.user-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: calc(100% - 60px);
  overflow-y: auto;
  padding-bottom: 20px;
}

.user-container li {
  background-color: #fff;
  padding: 15px 20px; 
  margin-bottom: 15px; 
  border: 1px solid #ddd;
  border-radius: 10px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.2s;
}

.user-container li:hover {
  transform: translateY(-5px); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.user-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-fullname {
  margin: 5px 0;
  font-size: 24px;
  color: #596418;
  font-family: "Roca Regular"; 
}

.user-email, .username {
  margin: 5px 0;
  font-size: 16px;
  color: #333;
  font-family: "Lato Regular";
}

.admin-link:link, .admin-link:visited, .admin-link:hover, .admin-link:active {
  color: #596418;
  text-decoration: none; 
}

/* Custom scrollbar with curved sides */
.user-container::-webkit-scrollbar {
  width: 10px;
}

/* -----------Fulfillment CSS--------------------- */


.fulfillment-main {
  display: flex;
  background-color: #C8C468;
  width: 100%;
  min-height: 100vh;
  height: auto;
  padding: 100px 20px 20px 20px;
  box-sizing: border-box;
}

.fulfillment-order-list {
  display: flex;
  flex-direction: column;
  width: 50%;
  transition: width 0.3s ease;
  padding: 30px;
}

.fulfillment-order-list.full-width {
  width: 100%;
}

.fulfillment-product-list {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  width: 50%;
}

.fulfillment-order-title, 
.fulfillment-product-title{
  font-family: "Roca Bold";
}

.fulfillment-order-table td, 
.fulfillment-order-table th, 
.fulfillment-product-table td, 
.fulfillment-product-table th, 
.fulfillment-product-total-items p, 
.fulfillment-product-total-cost p, 
button {
  font-family: "Lato Regular";
}


.fulfillment-product-total-items p, 
.fulfillment-product-total-cost p,
.fulfillment-order-table th,
.fulfillment-product-table th {
  font-size: large;
  font-weight: bold;
  color: #ffffff;
}

.fulfillment-order-title, .fulfillment-product-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 20px;
  color: #ffffff;
}

.fulfillment-order-table, .fulfillment-product-table {
  background-color: #ffffff;
  border-style: solid;
  border-width: 0px;
  padding-bottom: 10px;
  border-spacing: 0px;
  border-radius: 30px;
  overflow: hidden;
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.fulfillment-order-table thead,
.fulfillment-order-table tbody,
.fulfillment-product-table thead,
.fulfillment-product-table tbody  {
  display: table;
}

.fulfillment-order-table thead,
.fulfillment-product-table thead {
  background-color: #596418;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%; /*Ensure the thead takes full width */
}

.fulfillment-order-table tbody {
  display: block;
  max-height: 600px; /* Set a max height to allow for responsiveness */
  overflow-y: auto; /* Make tbody scrollable */
}

/* Example media queries */
@media (max-height: 600px) {
  .fulfillment-order-table tbody {
    max-height: 400px;
  }
}

@media (max-height: 500px) {
  .fulfillment-order-table tbody {
    max-height: 300px;
  }
}

@media (max-height: 400px) {
  .fulfillment-order-table tbody {
    max-height: 200px;
  }
}

.approve-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.approve-button-img {
  width: 30px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
}

.fulfillment-order-table td, .fulfillment-order-table th, .fulfillment-product-table td, .fulfillment-product-table th {
  text-align: center;
  padding: 10px 15px;
  box-sizing: border-box;
  width: 300px; /*Ensure each cell is distributed evenly */
}

.fulfillment-product-totals {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fulfillment-product-total-items, .fulfillment-product-total-cost {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 45%;
  border-style: solid;
  border-width: 0px;
  border-radius: 30px;
  background-color: #596418;
}

.fulfillment-product-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fulfillment-product-buttons button {
  align-self: center;
  margin-bottom: 15px;
  width: 30%;
  border-style: solid;
  border-width: 0px;
  border-radius: 30px;
  background-color: #ffffff;
  text-align: center;
  font-size: large;
  transition-duration: 0.4s;
  border: 2px solid;
}

.confirm-approval {
  color: #596418;
  border-color: #596418;
}

.cancel-approval {
  color: red;
  border-color: red;
}

.confirm-approval:hover {
  background-color: #596418;
  color: white;
  cursor: pointer;
}

.cancel-approval:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

/* ---------SALES CSS------------------ */

.sales-main {
  display: flex;
  background-color: #C8C468;
  width: 100%;
  min-height: 100vh;
  height: auto;
  padding: 100px 20px 20px 20px;
  box-sizing: border-box;
}

.sales-order-list {
  display: flex;
  flex-direction: column;
  width: 50%;
  transition: width 0.3s ease;
  padding: 30px;
}

.sales-order-list.full-width {
  width: 100%;
}

.sales-product-list {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  width: 50%;
}

.sales-order-title, 
.sales-product-title{
  font-family: "Roca Bold";
}

.sales-order-table td, 
.sales-order-table th, 
.sales-product-table td, 
.sales-product-table th, 
.sales-product-total-items p, 
.sales-product-total-cost p, 
button {
  font-family: "Lato Regular";
}


.sales-product-total-items p, 
.sales-product-total-cost p,
.sales-order-table th,
.sales-product-table th {
  font-size: large;
  font-weight: bold;
  color: #ffffff;
}

.sales-order-title, .sales-product-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 20px;
  color: #ffffff;
}

.sales-order-table, .sales-product-table {
  background-color: #ffffff;
  border-style: solid;
  border-width: 0px;
  padding-bottom: 10px;
  border-spacing: 0px;
  border-radius: 30px;
  overflow: hidden;
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.sales-order-table thead,
.sales-order-table tbody,
.sales-product-table thead,
.sales-product-table tbody  {
  display: table;
}

.sales-order-table thead,
.sales-product-table thead {
  background-color: #596418;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%; /* Ensure the thead takes full width */
}

.sales-order-table tbody {
  display: block;
  max-height: 600px; /* Set a max height to allow for responsiveness */
  overflow-y: auto; /* Make tbody scrollable */
}

/* Example media queries */
@media (max-height: 600px) {
  .sales-order-table tbody {
    max-height: 400px;
  }
}

@media (max-height: 500px) {
  .sales-order-table tbody {
    max-height: 300px;
  }
}

@media (max-height: 400px) {
  .sales-order-table tbody {
    max-height: 200px;
  }
}

.view-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.view-button-img {
  width: 30px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
}

.sales-order-table td, .sales-order-table th, .sales-product-table td, .sales-product-table th {
  text-align: center;
  padding: 10px 15px;
  box-sizing: border-box;
  width: 400px; /* Ensure each cell is distributed evenly */
}

.sales-product-totals {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sales-product-total-items, .sales-product-total-cost {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 45%;
  border-style: solid;
  border-width: 0px;
  border-radius: 30px;
  background-color: #596418;
}

.sales-product-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sales-product-buttons button {
  align-self: center;
  margin-bottom: 15px;
  width: 30%;
  border-style: solid;
  border-width: 0px;
  border-radius: 30px;
  background-color: #ffffff;
  text-align: center;
  font-size: large;
  transition-duration: 0.4s;
  border: 2px solid;
}

.remove-view {
  color: #596418;
  border-color: #596418;
}

.remove-view:hover {
  background-color: #596418;
  color: white;
  cursor: pointer;
}






.product-summary-main {
  background-color: #C8C468;
  width: 100%;
  height: 100vh;
  padding: 140px 120px 50px 120px;
  box-sizing: border-box;
}

.product-summary-table{
  width: 100%;
  table-layout: fixed;
  text-align: center;
  font-family: "Lato Regular";
}

.product-summary-table th, .product-summary-table td{
  padding: 7px;
  border: 0 none;
  text-align: center;
}

.product-summary-table th{
  background-color: #596418;
  color: white;
}

.product-summary-table td{
  background-color: #FEF1CF;
}

.product-summary-table th:first-of-type{
  border-top-left-radius: 10px;
}

.product-summary-table th:last-of-type{
  border-top-right-radius: 10px;
}

.product-summary-table tr:last-of-type td:first-of-type{
  border-bottom-left-radius: 10px;
}

.product-summary-table tr:last-of-type td:last-of-type{
  border-bottom-right-radius: 10px;
}

.indiv-prod-sales-btn{
  width: 270px;
  float: right;
}

.indiv-prod-sales-text{
  font-size: 17px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.indiv-prod-sales-text:hover{
  color: white;
  text-decoration: none;
}

.group-key, .group-total-sales{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}